<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание поездки</title>
    <link rel="stylesheet" type="text/css" href="css/create-trip.css">
</head>

<body>
<div class="container">
    <h1 class="text-center">Создание поездки</h1>

    <form id="route-form" method="POST" action="/create-trip">
        <div class="form-group">
            <label for="tripDateTime">Дата и время поездки:</label>
            <input type="datetime-local" class="form-control" id="tripDateTime" name="tripDateTime" required>
        </div>

        <div class="form-group">
            <label for="availableSeats">Доступные места:</label>
            <input type="number" class="form-control" id="availableSeats" name="availableSeats" min="1" required>
        </div>

        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
        </div>

        <button  th:data-path="${context}"  type="submit" class="btn btn-success">Создать маршрут</button>
        <input id="routeId" th:value="${route.id}" hidden="hidden">

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/create-trip.js"></script>
</body>

</html>
