<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Details</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" th:href="@{/css/trip.css}">

</head>
<body>

<div class="container">
    <div class="header">
        <h1 th:text="${trip.tripDateTimeFormatted}"></h1>
        <span class="date" th:text="${tripInfo}"></span>
    </div>

    <div class="trip-info">
        <h2 th:text="'Поездка из ' + ${trip.route.start.name} + ' в ' + ${trip.route.finish.name}"></h2>
        <div class="timeline">
            <ul>
                <li>
                    <span th:text="${trip.route.start.name}"></span>
                </li>
                <li th:each="waypoint : ${trip.route.others}" class="event">
                    <span th:text="${waypoint.name}"></span>
                </li>
                <li>
                    <span th:text="${trip.route.finish.name}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="creator-info">
        <h2>Организатор:</h2>
        <div class="creator-details">
            <span th:text="'Никнейм: ' + ${trip.owner.getLogin()}"></span><br>
            <span th:text="'Почта: ' + ${trip.owner.email}"></span><br>
            <span th:text="'Телефон: ' + ${trip.owner.phoneNumber}"></span>
        </div>
    </div>

    <div class="passenger-info">
        <h2>Пассажиры</h2>
        <div class="trip-details">
            <div th:if="${not #lists.isEmpty(members)}">
                <div th:each="member : ${members}">
                    <span th:text="${member.login} + ' (' + ${member.email}+ ')'"></span>
                    <br>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(members)}">
                <span>Видимо, еще никого нет. Будьте первыми!</span>
            </div>
        </div>
    </div>

    <div class="price-section">
        <span th:text="${trip.price} + ' ₽'" class="price"></span>
        <a href="#" class="button">Забронировать</a>
    </div>
</div>

</body>
</html>
